<?xml version="1.0" encoding="utf-8" ?>
<objects  xmlns="http://www.springframework.net" >

  <object type="Login.aspx">
    <property name="LoginService" ref="LoginService"/>
  </object>
  <object type="ListUsers.aspx">
    <property name="AdminService" ref="AdminService"/>
  </object>
  <object type="UserDetail.aspx">
    <property name="AdminService" ref="AdminService"/>
  </object>
  <object type="EliminarUser.aspx">
    <property name="AdminService" ref="AdminService"/>
  </object>
  <object type="Register.aspx">
    <property name="RegistryService" ref="RegistryService"/>
  </object>
  <object type="Contacto.aspx">
    <property name="ContactService" ref="ContactService"/>
  </object>
  <object type="ServiceList.aspx">
    <property name="ServiceService" ref="ServiceService" />
  </object>
  <object type="NewService.aspx">
    <property name="ServiceService" ref="ServiceService" />
  </object>
  <object type="ListProjects.aspx">
    <property name="ProjectService" ref="ProjectService" />
  </object>
  <object type="NewProject.aspx">
    <property name="ProjectService" ref="ProjectService" />
  </object>
  <object type="ProjectDetails.aspx">
    <property name="ProjectService" ref="ProjectService" />
  </object>
  <object type="Publications.aspx">
    <property name="ProjectService" ref="ProjectService" />
  </object>
  <object type="ProjectQuestions.aspx">
    <property name="ProjectService" ref="ProjectService" />
  </object>
  <object type="ResponderPregunta.aspx">
    <property name="ProjectService" ref="ProjectService" />
  </object>
  <object type="ListProposals.aspx">
    <property name="ProjectService" ref="ProjectService" />
  </object>
  <object type="ProposalDetails.aspx">
    <property name="ProjectService" ref="ProjectService" />
  </object>
  <object type="RealizarPregunta.aspx">
    <property name="ProjectService" ref="ProjectService" />
  </object>
  <object type="MakeOffer.aspx">
    <property name="ProjectService" ref="ProjectService" />
  </object>
  <object type="ListFamilies.aspx">
    <property name="AdminService" ref="AdminService" />
  </object>
  <object type="NewFamily.aspx">
    <property name="AdminService" ref="AdminService" />
  </object>
  <object type="DetalleFamilia.aspx">
    <property name="AdminService" ref="AdminService" />
  </object>
  <object type="CambiarPass.aspx">
    <property name="LoginService" ref="LoginService" />
  </object>
  <object type="EditarPerfil.aspx">
    <property name="RegistryService" ref="RegistryService" />
  </object>
  <object type="RealizarBackUp.aspx">
    <property name="AdminService" ref="AdminService" />
  </object>
  <object type="RestoreData.aspx">
    <property name="AdminService" ref="AdminService" />
  </object>
  <object type="OfferList.aspx">
    <property name="ProjectService" ref="ProjectService" />
  </object>
  <object type="OfferDetails.aspx">
    <property name="ProjectService" ref="ProjectService" />
  </object>
  <object type="FindRRHH.aspx">
    <property name="ResourceService" ref="ResourceService" />
  </object>
  <object type="ResourceDetail.aspx">
    <property name="ResourceService" ref="ResourceService" />
  </object>
  <object type="OfferRRHH.aspx">
    <property name="ResourceService" ref="ResourceService" />
  </object>
  <object type="ListRRHHOffers.aspx">
    <property name="ResourceService" ref="ResourceService" />
  </object>
  <object type="ListCurrentProjects.aspx">
    <property name="ProjectService" ref="ProjectService" />
  </object>
  <object type="DeveloperProjectDetails.aspx">
    <property name="ProjectService" ref="ProjectService" />
  </object>
  <object type="DeliveryDates.aspx">
    <property name="ProjectService" ref="ProjectService" />
  </object>
</objects>