body{
	margin:0;
	padding:0;
	line-height: 1.5em;
	font-family:Tahoma;
}

#topsection{
	height: 90px; 
}

#topsection h1{
	margin: 0;
	padding-top: 15px;
}
#topsection #statbar
{
	float:right;
}

#contentwrapper{
	float: left;
	width: 100%;
}

#contentcolumn{
	margin-left: 200px;
}
#contentcolumn h3.info
{
	color:Blue;
}
#contentcolumn h3.error
{
	color:Red;
}

#leftcolumn{
	float: left;
	width: 200px; 
	margin-left: -100%;
}

#footer{
	clear: left;
	width: 100%;
	text-align: center;
	padding: 4px 0;
}

.boxed
{
	border:solid 1px black;
}
.innertube{
	margin: 10px; 
	margin-top: 0;
}
.clearboth
{
	clear:both;
}


/*************************************************************************************************/
/**ACCORDION MENU**/
.accordion_toggle {
    background:#A9D06A;
    border-bottom:1px solid #CDE99F;
    cursor:pointer;
    font-size:12px;
    font-weight:normal;
    margin:0;
    padding:0 10px;
}
.accordion_toggle_active {
    background:#E0542F;
    border-bottom:1px solid #F68263;
    color:#FFFFFF;
}
.accordion_content {
    overflow:hidden;
}
/**************************************************************************************************/