<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="spring">
			<section name="context" type="Spring.Context.Support.WebContextHandler, Spring.Web"/>
			<section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core"/>
			<section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core"/>
		</sectionGroup>
		<section name="databaseSettings" type="System.Configuration.NameValueSectionHandler"/>
	</configSections>
	<spring>
		<parsers>
			<!-- Parser requerido por Spring para cargar el DbProvider -->
			<parser type="Spring.Data.Config.DatabaseNamespaceParser, Spring.Data"/>
		</parsers>
		<context>
			<!-- Application Context Files -->
			<resource uri="assembly://Web.Code/Web.Code.Config/Web.xml"/>
			<resource uri="assembly://Web.Code/Web.Code.Config/Services.xml"/>
			<resource uri="assembly://Web.Code/Web.Code.Config/Data.xml"/>
		</context>
	</spring>
	<appSettings/>
	<connectionStrings/>
	<databaseSettings>
		<add key="test.db.datasource" value="Data Source=|DataDirectory|test.db;Version=3;"/>
	</databaseSettings>
	<runtime>
		<!-- CODIGO BOILERPLATE PARA ARREGLAR LAS CAGADAS DEL COMPILADOR DE .NET -->
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="NHibernate" culture="neutral" publicKeyToken="154fdcb44c4484fc"/>
				<bindingRedirect oldVersion="1.0.4.0" newVersion="1.2.1.4000"/>
			</dependentAssembly>
			<qualifyAssembly partialName="System.Data.SQLite" fullName="System.Data.SQLite,version=1.0.56.0,publicKeyToken=db937bc2d44ff139,culture=neutral"/>
		</assemblyBinding>
	</runtime>
	<!-- Spring HttpHandlers -->
	<system.web>
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Transactions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.SQLite, Version=1.0.56.0, Culture=neutral, PublicKeyToken=DB937BC2D44FF139"/>
				<add assembly="System.Data.OracleClient, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies></compilation>
		<authentication mode="Windows"/>
		<httpHandlers>
			<add verb="*" path="*.aspx" type="Spring.Web.Support.PageHandlerFactory, Spring.Web"/>
		</httpHandlers>
		<httpModules>
			<add name="SpringModule" type="Spring.Context.Support.WebSupportModule, Spring.Web"/>
		</httpModules>
	</system.web>
</configuration>
